.containerFaq {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
    border: 5px white solid;
    border-radius: 25px;
    border-spacing: 20px;
    margin-bottom: 100px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-bottom: 30px;
}

h2 {
    font-size: 32px;
    justify-self: center;
    align-self: center;
}

.questionAnswerContainer {
    margin-top: 50px;
}

main {
    margin-top: 70px;
    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: chartreuse;
        font-weight: bold;
        text-shadow: 4px 4px 5px rgb(0, 0, 0);
    }
}

.question {
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chartreuse;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);

}

.answer {
    display: none;
    margin-bottom: 20px;

    a {
        color: white;
    }
}

.answer.show {
    display: block;
}
.videoFAQ{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    border: 1px white solid;
    border-radius: 24px;
}